<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhomew.mapper.ProductMapper">
    <select id="ListByDate">
        SELECT name,images,create_time from product ORDER BY create_time DESC LIMIT 9
    </select>

</mapper>
